nodes_modules/
*/node_modules

WebServer/back/node_modules/
WebServer/back/key.json
WebServer/front/node_modules/
Raspberry/docker/
Raspberry/temp-sent-firebase-adminsdk.json
Raspberry/key.json
WebServer/front/.env
WebServer/back/.env
WebServer/.env
Raspberry/.env
