# MQTT (optionnel si tu gardes les valeurs par defaut)
MQTT_URL=mqtt://mosquitto:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=mqtt-firebase-bridge
MQTT_TELEMETRY_TOPICS=iot/sensors/+/telemetry
MQTT_KPI_TOPICS=iot/sensors/+/info,iot/sensors/+/errors,iot/actuators/+/status

# Destination API (backend Express)
# Tu peux mettre une IP ou un nom DNS. Le http:// est optionnel.
# Exemples:
# REST_BASE_URL=http://192.168.1.20:3000
# REST_BASE_URL=192.168.1.20:3000
REST_BASE_URL=http://192.168.1.20:3000

# Chemins API
REST_TELEMETRY_PATH=/api/v1/telemetry
REST_KPI_PATH=/api/v1/hardware

# Timeout HTTP (ms)
HTTP_TIMEOUT_MS=5000
